<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="CAS.CommServer.UA.ConfigurationEditor.ServerConfiguration.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CAS.CodeProtect" publicKeyToken="8832ff1a67ea61a3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.18157" newVersion="7.0.0.18157" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <CAS.CommServer.UA.ConfigurationEditor.ServerConfiguration.Properties.Settings>
      <setting name="ApplicationConfigurationAutostart" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ApplicationConfigurationConfigureFirewall" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TraceSourceName" serializeAs="String">
        <value>CAS.UA.Server.ServerConfiguration</value>
      </setting>
    </CAS.CommServer.UA.ConfigurationEditor.ServerConfiguration.Properties.Settings>
  </applicationSettings>
</configuration>