<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name="CAS.UA.Server.ServerConfiguration" switchName="CAS.UA.Server.ServerConfiguration.Switch" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="LogFile"/>
          <remove name="Default"/>
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="CAS.UA.Server.ServerConfiguration.Switch" value="All"/>
    </switches>
    <sharedListeners>
      <add name="LogFile" type="CAS.Lib.CodeProtect.EnvironmentAccess.AdvancedDelimitedListTraceListener, CAS.CodeProtect" initializeData="|ApplicationDataPath|\CAS.UA.Server.ServerConfiguration.log" traceOutputOptions="DateTime">
        <filter type="System.Diagnostics.EventTypeFilter" initializeData="All"/>
      </add>
    </sharedListeners>
    <trace autoflush="true"/>
  </system.diagnostics>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CAS.CommServer.DAClientConfiguration" publicKeyToken="8832ff1a67ea61a3" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.1.6.25005" newVersion="5.1.6.25005"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CAS.Windows.Forms" publicKeyToken="8832ff1a67ea61a3" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.1.2.24319" newVersion="6.1.2.24319"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CAS.CommServer.DAServerConfiguration" publicKeyToken="8832ff1a67ea61a3" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.1.6.25005" newVersion="5.1.6.25005"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CAS.RealTime" publicKeyToken="8832ff1a67ea61a3" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.0.6.23644" newVersion="5.0.6.23644"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CAS.CodeProtect" publicKeyToken="8832ff1a67ea61a3" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.18157" newVersion="7.0.0.18157"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
