<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CAS.CodeProtect" version="5.0.2" targetFramework="net461" />
  <package id="CAS.CommServer.DA.Client.Configuration" version="3.11.0" targetFramework="net461" />
  <package id="CAS.CommServer.DA.Server.Configuration" version="4.1.0" targetFramework="net461" />
  <package id="CAS.CommServer.UA.Server.ServerConfiguration" version="3.20.1-Charlie" targetFramework="net461" />
  <package id="CAS.RealTime" version="5.0.2" targetFramework="net461" />
  <package id="CAS.UA.Common" version="2.00.02" targetFramework="net461" developmentDependency="true" />
  <package id="CAS.UA.IServerConfiguration" version="1.00.00" targetFramework="net461" />
  <package id="CAS.Windows.Forms" version="5.0.2" targetFramework="net461" />
  <package id="OPC.DA.SDK.Core" version="2.00.108" targetFramework="net461" />
</packages>